
    <div class="container ">
<div class="row  ">
 
  <a href="/admin/addproduct" class="ml-auto btn btn-success">Add product</a>
    
 <table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">category</th>
      <th scope="col">₹ price</th>
      <th scope="col">discriprtion</th>
      <th scope="col">Image</th>
      <th scope="col">options</th>
    </tr>
  </thead>
  <tbody>
    {{#each product}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.product_name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Rate}}</td>
      <td>{{this.Discription}}</td>
      <td><img style="width:50px; height: 50px;" src="/public/img/product-images/{{this._id}}.jpg" alt="image of product"></td>
       <td>
        <a href="/admin/editproduct/{{this._id}}" class="btn btn-info font-weight-bold">Add to cart</a>
        <a href="/admin/deleteproduct/{{this._id}}" class="btn btn-danger font-weight-bold" onclick="return confirm('DO you want to delete {{ this.product_name}}?')">remove</a>
        </td>
    
    </tr>
    {{/each}}
    
  </tbody>
</table>
</div>
</div>
  

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->








    <section>
    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">

                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Image</th>

                            <th scope="col">₹ price</th>
                            <th>Quantity</th>
                            {{!-- <th>Total</th> --}}


                            <th scope="col">options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>


                            <td>{{this.product.product_name}}</td>
                            <td><img style="width:50px; height: 50px;"
                                    src="/public/img/product-images/{{this.product._id}}.jpg" alt="image of product">
                            </td>

                            <td>{{this.product.Rate}}</td>

                            <td>
                                <button class="cart-item-count mr-3 btn btn-dark font-weight-bold"
                                    onclick="changeQuantitty('{{this._id}}','{{this.product._id}}',-1)">-</button>{{this.quantity}}<button
                                    class="cart-item-count ml-3 btn btn-dark font-weight-bold"
                                    onclick="changeQuantitty('{{this._id}}','{{this.product._id}}',1)">+</button>
                            </td>

                            {{!-- <td>6000</td> --}}

                            <td><button class="btn btn-danger font-weight-bold"><i class="fa fa-times"></i></button>
                            </td>




                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart
                        Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>$160</h5>
                        </div>
                        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To
                            Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        window addEventListener('DOMcontentedLoaded'()=>{
            function changeQuantitty(cartId, proId, count) {


            $.ajax({
                url: '/changeproductquantity',
                data: {
                    cart: cartId,
                    product: proId,
                    count: count
                },
                method: 'post',
                success: (response){
                    alert(response)
                }
            })
        } 

        })
        
    </script>
</section>

*****************************************************************anurak chech cart out


<section class="bg-light" style="overflow: hidden;">
    <form action="" id="checkoutform">
        <div class="container-fluid bg-light ">
            <div class="row ">


                <div class="col-md-6">
                    <h3 class="text-info">ADDRESS</h3>
                        <div>
                            <label for="">Name</label>
                            <input class="form-control" type="text" name="" id="name">
                            <label for="">Address</label>
                            <input class="form-control" type="text" name="" id="address">
                            <label for="">Place</label>
                            <input class="form-control" type="text" name="" id="place">
                            <label for="">Mobile No:</label>
                            <input class="form-control" type="text" name="" id="mobile">
                            <label for="">Pin code</label>
                            <input class="form-control" type="text" name="" id="pincode">
                            
                        </div>





                </div>


                <div class="col-md-5">
                    <br><br><br>
                    <div class="container mt-5  checkout ">
                        <h5 class="text-bold">Total Amount : RS. {{total}}
                        </h5>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            <label for="" class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" >COD
                            </label>
                            <label for=" " class="radio-inline mt-2 ml-2">
                                <input type="radio" name="payment-method" value="ONLINE">Online Payment
                            </label>
                            {{!-- <input type="text" name="userId" style="display:none ;" id=""><br> --}}
                            <input type="text">
                            <div>
                                <button class="btn btn-primary float-right" type="submit" >Checkout</button>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
             </div>
    </form>

   

    <br><br><br>

 
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{{!-- <script src = "https://ajax.googleapis.com/ajax/libs/jQuery/3.3.1/jQuery.min.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"></script>
		

<script>
        $("#checkoutform").submit((e)=>{
            
            e.preventDefault()
            console.log('success')
            $.ajax({
                url:"/placeorder",
                method:'post',
                data:$('#checkoutform').serialize(), 
                success:(response)=>{
                    
                }
            })
        })

    </script>


    ///////////////////////////////////////////signuo
    

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/signup.css">
    <script defer src="/public/js/signup.js"></script>
</head>
<body>
    <div class="container">
        <form id="form" action="/usersignup" method="post">
        <div class="d-flex align-items-center  pb-1 mt-2">
                    <span class="h1 fw-bold mb-0"><span class="h1 text-uppercase text-white bg-dark px-2">E-</span>
                    <span class="h1 text-uppercase text-dark bg-warning px-2 ml-n1">SHOES</span></span>
                  </div>
        {{!-- <h2 class="text-secondary mt-4 font-weight-bold">Create new account</h2> --}}
        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
             
            <div class="input-control">
                <label for="name">Name</label>
                <input id="name" name="name" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            
            <button type="submit">Sign Up</button>
            <div class="text-center mt-2">
                <p>Already have a account? <a href="/userlogin">log in</a></p>

            </div>
        </form>
    </div>
</body>
</html>

